version: '3.7'

services:
  web:
    build: ./mysite
    container_name: docker_diplom
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./mysite/:/usr/src/app/
    ports:
      - 8000:8000
    environment:
      - DEBUG=1
      - SECRET_KEY=-qvb=!@x(v9mw5b7)l9xtd^3eqgj@oq87*p$k!o#3q&lz9y5hl
      - DJANGO_ALLOWED_HOSTS= 127.0.0.1 [::1] 192.168.1.61
      - CELERY_BROKER=redis://redis:6379
      - CELERY_BACKEND=redis://redis:6379
    depends_on:
      - redis

  celery:
    build: ./mysite
    command: celery -A mysite worker -l info
    volumes:
      - ./mysite:/usr/src/app
    environment:
      - DEBUG=1
      - SECRET_KEY=-qvb=!@x(v9mw5b7)l9xtd^3eqgj@oq87*p$k!o#3q&lz9y5hl
      - DJANGO_ALLOWED_HOSTS=127.0.0.1 [::1] 192.168.1.61
      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    depends_on:
      - web
      - redis

  celery-beat:
    build: ./mysite
    command: celery -A mysite beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./mysite/:/usr/src/app/
    environment:
      - DEBUG=1
      - SECRET_KEY=dbaa1_i7%*3r9-=z-+_mz4r-!qeed@(-a_r(g@k8jo8y3r27%m
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 192.168.1.61
      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    depends_on:
      - web
      - redis

  redis:
    image: redis:5-alpine