[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
Django = "*"
redis = "*"
bs4 = "*"
schedule = "*"
lxml = "*"
beat = "*"
django-charting = "*"
feedparser = "*"
requests = "*"
django-celery-beat = "*"
django-crispy-forms = "*"
python-dateutil = "*"
django-feed-reader = "*"
fuzzywuzzy = "*"
fasttext = "*"

[dev-packages]

[requires]
python_version = "3.8"
